.App {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.App-header {
  background-color: #52525b;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: flex;
  color: white;
}

.App input{
  margin-top: 10vh;
  font-size: 14px;
  padding-left: 10px;
}

.App-link {
  color: #bef264;
}

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}